  body {
      background: #02142c;
      margin: 0;
      padding: 20px;
    }
    h2 {
      text-align: center;
      color: #014d36;
      margin-bottom: 20px;
      font-family: 'Arial', sans-serif;
    }
    table {
      width: 80%;
      margin: auto;
      border-collapse: collapse;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      background: #ffffff;
    }
     td {
      padding: 12px 15px;
      text-align: left;
      color: #000000;
      border-bottom: 1px solid rgb(15, 6, 15);
    }
    th {
      background: #07573c;
      color: #050808;
      font-family: Verdana;
      padding: 12px 15px;
    }
    td{
        font-family: Verdana;
        padding: 12px 15px;
    }
    tr:nth-child(even) {
      background: #f9f9f9;
    }
    tr:hover {
      background: #abeed29f;
    }
